<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上傳使用紀錄</title>
</head>
<body>
    <h2>上傳使用紀錄</h2>
    <h3>請輸入以下欄位</h3>
    <form action = "/upload/historyData" method="post">
        patient id <input type="text" name="patientId"/><br/>
        total time <input type="text" name="totalTime"/><br/>
        cycle time <input type="text" name="cycleTime"/><br/>
        stimulation time <input type="text" name="stimulationTime"/><br/>
        <button>upload</button>
    </form>
</body>
</html>